html(lang="en" class='scroll-smooth')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src="https://cdn.tailwindcss.com")   
        script.
                tailwind.config = {
                theme: {
                screens: {
                xs: '300px',
                md: '768px',
                lg: '1024px',
                xl: '1280px',
                '2xl': '1536px',
                },
                },
                };
        link(rel="stylesheet" href="/src/css/all.min.css")
        include ../includes/mixins.pug
    body 
        //- Embedding Header File
        include ../includes/header.pug
        +mini-landing('Blog Grids')
        //- Start Blogs
        div(class='grid gap-10 lg:grid-cols-3 md:grid-cols-2 xs:grid-cols-1 py-52 px-12 xs:text-center md:text-left opacity-0 aos')
            .box
                a(href='BlogDetails.html' class='h-fit block overflow-hidden') 
                    img(class='md:mb-10 rounded-md transition duration-250 hover:scale-110 xs:m-[2em_auto]' src="/src/images/blog-01.jpg", alt="x")
                span(class='text-white bg-blue-700 p-2 px-4 rounded-md font-bold text-sm') Dec 22, 2023 
                a(href='BlogDetails.html' class='block cursor-pointer hover:text-blue-700 font-bold text-2xl my-5') Meet AutoManage, the best AI management tools
                p(class='text-slate-400') Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .box
                a(href='BlogDetails.html' class='h-fit block overflow-hidden') 
                    img(class='md:mb-10 rounded-md transition duration-250 hover:scale-110 xs:m-[2em_auto]' src="/src/images/blog-02.jpg", alt="x")
                span(class='text-white bg-blue-700 p-2 px-4 rounded-md font-bold text-sm') Mar 15, 2023
                a(href='BlogDetails.html' class='block cursor-pointer hover:text-blue-700 font-bold text-2xl my-5') How to earn more money as a wellness coach
                p(class='text-slate-400') Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .box
                a(href='BlogDetails.html' class='h-fit block overflow-hidden') 
                    img(class='md:mb-10 rounded-md transition duration-250 hover:scale-110 xs:m-[2em_auto]' src="/src/images/blog-03.jpg", alt="x")
                span(class='text-white bg-blue-700 p-2 px-4 rounded-md font-bold text-sm') Jan 05, 2023 
                a(href='BlogDetails.html' class='block cursor-pointer hover:text-blue-700 font-bold text-2xl my-5') The no-fuss guide to upselling and cross selling
                p(class='text-slate-400') Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .box
                a(href='BlogDetails.html' class='h-fit block overflow-hidden') 
                    img(class='md:mb-10 rounded-md transition duration-250 hover:scale-110 xs:m-[2em_auto]' src="/src/images/blog-02.jpg", alt="x")
                span(class='text-white bg-blue-700 p-2 px-4 rounded-md font-bold text-sm') Mar 15, 2023 
                a(href='BlogDetails.html' class='block cursor-pointer hover:text-blue-700 font-bold text-2xl my-5') How to earn more money as a wellness coach
                p(class='text-slate-400') Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .box
                a(href='BlogDetails.html' class='h-fit block overflow-hidden') 
                    img(class='md:mb-10 rounded-md transition duration-250 hover:scale-110 xs:m-[2em_auto]' src="/src/images/blog-03.jpg", alt="x")
                span(class='text-white bg-blue-700 p-2 px-4 rounded-md font-bold text-sm') Jan 05, 2023 
                a(href='BlogDetails.html' class='block cursor-pointer hover:text-blue-700 font-bold text-2xl my-5') The no-fuss guide to upselling and cross selling
                p(class='text-slate-400') Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .box
                a(href='BlogDetails.html' class='h-fit block overflow-hidden') 
                    img(class='md:mb-10 rounded-md transition duration-250 hover:scale-110 xs:m-[2em_auto]' src="/src/images/blog-01.jpg", alt="x")
                span(class='text-white bg-blue-700 p-2 px-4 rounded-md font-bold text-sm') Dec 22, 2023 
                a(href='BlogDetails.html' class='block cursor-pointer hover:text-blue-700 font-bold text-2xl my-5') Meet AutoManage, the best AI management tools
                p(class='text-slate-400') Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .box
                a(href='BlogDetails.html' class='h-fit block overflow-hidden') 
                    img(class='md:mb-10 rounded-md transition duration-250 hover:scale-110 xs:m-[2em_auto]' src="/src/images/blog-01.jpg", alt="x")
                span(class='text-white bg-blue-700 p-2 px-4 rounded-md font-bold text-sm') Dec 22, 2023 
                a(href='BlogDetails.html' class='block cursor-pointer hover:text-blue-700 font-bold text-2xl my-5') Meet AutoManage, the best AI management tools
                p(class='text-slate-400') Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .box
                a(href='BlogDetails.html' class='h-fit block overflow-hidden') 
                    img(class='md:mb-10 rounded-md transition duration-250 hover:scale-110 xs:m-[2em_auto]' src="/src/images/blog-02.jpg", alt="x")
                span(class='text-white bg-blue-700 p-2 px-4 rounded-md font-bold text-sm') Mar 15, 2023 
                a(href='BlogDetails.html' class='block cursor-pointer hover:text-blue-700 font-bold text-2xl my-5') How to earn more money as a wellness coach
                p(class='text-slate-400') Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .box
                a(href='BlogDetails.html' class='h-fit block overflow-hidden') 
                    img(class='md:mb-10 rounded-md transition duration-250 hover:scale-110 xs:m-[2em_auto]' src="/src/images/blog-03.jpg", alt="x")
                span(class='text-white bg-blue-700 p-2 px-4 rounded-md font-bold text-sm') Jan 05, 2023 
                a(href='BlogDetails.html' class='block cursor-pointer hover:text-blue-700 font-bold text-2xl my-5') The no-fuss guide to upselling and cross selling
                p(class='text-slate-400') Lorem Ipsum is simply dummy text of the printing and typesetting industry.

        //- End Blogs
        //- Embedding Footer File
        include ../includes/footer.pug
        //- Embedding Scroll Btn
        +scrollToTop
        script(src="/dist/js/main.js") 
        
    