div(class='bg-slate-200 pt-20 pl-14 flex h-80 items-center' id='contact')
    div(class='')
        h2(class='font-semibold') CONTACT US 
        p(class='font-semibold text-4xl') Let's talk about <br> Love to hear from you!
div(class='bg-slate-50 flex p-10 px-14 justify-start relative lg:h-96 xs:h-screen lg:flex-row xs: flex-col')
    div(class='flex space-x-3 xs:justify-center lg:ml-0 lg:mb-0 xs:ml-12 xs:mb-4')
            <i class=" fa-solid fa-location-dot text-indigo-500 text-2xl"></i>
            div 
                h4(class='font-semibold text-xl mb-4') Our Location 
                p(class='text-slate-400 font-medium') 401 Broadway, 24th Floor, Orchard<br>Cloud View, London
        
    div(class='flex space-x-3 lg:ml-12 xs:ml-0 xs:justify-center lg:mb-0 xs:mb-4')
            <i class=" fa-solid fa-envelope text-indigo-500 text-2xl"></i>
            div 
                h4(class='font-semibold text-xl mb-4') How Can We Help? 
                p(class='text-slate-400 font-medium') info@yourdomain.com<br>contact@yourdomain.com

    div(class='lg:w-4/12 xs:w-full bg-white p-10 rounded-md lg:absolute xs:static -top-64 right-14 aos opacity-0')
        h2(class='font-bold text-[1.6em]') Send us a Message
        form(action="")
            label(for="" class='block mt-6  text-[.8em] mt-8') Full Name*
            input(type="text", name="" class='w-full mt-3 border-b focus:border-b-blue-600 outline-none placeholder:text-lg' placeholder='Adam Gelius')
            label(for="" class='block mt-6  text-[.8em] mt-8') Email*
            input(type="email", name="" class='w-full mt-3 border-b focus:border-b-blue-600 outline-none placeholder:text-lg' placeholder='example@yourmail.com') 
            label(for="" class='block mt-6  text-[.8em] mt-8') Phone*
            input(type="tel", name="" class='w-full mt-3 border-b focus:border-b-blue-600 outline-none placeholder:text-lg' placeholder='+885 1254 5211 552') 
            label(for="" class='block mt-6  text-[.8em] mt-8') Message*
            textarea(name="", class='w-full mt-3 mb-10  border-b focus:border-b-blue-600 outline-none placeholder:text-lg' placeholder='type your message here')
            button(class='rounded-md text-white bg-blue-600 p-5 block w-fit font-semibold transition duration-300 hover:shadow-md hover:bg-black') Send Message 