div(class='lg:p-20 md:p-20 xs:p-5  bg-slate-200') 
    h2(class='text-blue-500 text-center font-semibold') FAQ
    h1(class='text-4xl text-center font-bold mb-4') Any Questions? Answered
    p(class='text-lg text-gray-400  text-center font-semibold') There are many variations of passages of Lorem Ipsum available <br> but the majority have suffered alteration in some form.
div(class='grid gap-10 md:grid-cols-2 xs:grid-cols-1  bg-slate-200 md:px-24 xs:px-5 pb-52')
    div(class='bg-white p-7 rounded-lg aos opacity-0' id='box1')
        .holder(class='inline' id='h1')
            <i class="fa-solid fa-chevron-down bg-slate-100 p-2 rounded-lg text-blue-700"></i>
        p(class='inline-block font-semibold ml-3') How to use TailGrids?
        p(class='hidden text-slate-500 p-8' id='c1') It takes 2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content marketing strategy that we do before writing your first blog post, Ipsum available .
    div(class='bg-white p-7 rounded-lg aos opacity-0' id='box2')
        .holder(class='inline' id='h2')
            <i class="fa-solid fa-chevron-down bg-slate-100 p-2 rounded-lg text-blue-700"></i>
        p(class='inline-block font-semibold ml-3') Can I use this template for commercial project?
        p(class='hidden text-slate-500 p-8' id='c2') It takes 2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content marketing strategy that we do before writing your first blog post, Ipsum available .
    div(class='bg-white p-7 rounded-lg aos opacity-0' id='box3')
        .holder(class='inline' id='h3')
            <i class="fa-solid fa-chevron-down bg-slate-100 p-2 rounded-lg text-blue-700"></i>
        p(class='inline-block font-semibold ml-3') How to download icons from LineIcons?
        p(class='hidden text-slate-500 p-8' id='c3') It takes 2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content marketing strategy that we do before writing your first blog post, Ipsum available .
    div(class='bg-white p-7 rounded-lg aos opacity-0' id='box4')
        .holder(class='inline' id='h4')
            <i class="fa-solid fa-chevron-down bg-slate-100 p-2 rounded-lg text-blue-700"></i>
        p(class='inline-block font-semibold ml-3') Do you have plan to releasing Play Pro?
        p(class='hidden text-slate-500 p-8' id='c4') It takes 2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content marketing strategy that we do before writing your first blog post, Ipsum available .
    div(class='bg-white p-7 rounded-lg aos opacity-0' id='box5')
        .holder(class='inline' id='h5')
            <i class="fa-solid fa-chevron-down bg-slate-100 p-2 rounded-lg text-blue-700"></i>
        p(class='inline-block font-semibold ml-3') Is GrayGrids part of UIdeck?
        p(class='hidden text-slate-500 p-8' id='c5') It takes 2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content marketing strategy that we do before writing your first blog post, Ipsum available .
    div(class='bg-white p-7 rounded-lg aos opacity-0' id='box6')
        .holder(class='inline' id='h6')
            <i class="fa-solid fa-chevron-down bg-slate-100 p-2 rounded-lg text-blue-700"></i>
        p(class='inline-block font-semibold ml-3') Where and how to host this template?
        p(class='hidden text-slate-500 p-8' id='c6') It takes 2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content marketing strategy that we do before writing your first blog post, Ipsum available .
        