html(lang="en")
  div(class='bg-slate-900 ')
    footer(class='bg-slate-900 relative overflow-hidden aos opacity-0')
         div(class='grid gap-5 lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2  text-white p-20 pb-10 relative z-10')
            div(class='')
                img(src="/src/images/logo-white.svg", alt="logo" class='mb-8')
                p(class='text-slate-300') We create digital experiences for brands and companies by using technology.
                ul(class='flex space-x-6 mt-8') 
                    li: <i class="fa-brands fa-facebook-f hover:text-slate-300"></i>
                    li: <i class="fa-brands fa-twitter hover:text-slate-300"></i>
                    li: <i class="fa-brands fa-instagram hover:text-slate-300"></i>
                    li: <i class="fa-brands fa-linkedin hover:text-slate-300"></i>
            div(class='')
                h2(class="text-xl font-bold mb-10 p-2") About Us
                ul(class="flex flex-col p-2 space-y-4")
                    a(href="" class='text-slate-300 font-semibold hover:text-blue-600') Home 
                    a(href="" class='text-slate-300 font-semibold hover:text-blue-600') Features
                    a(href="" class='text-slate-300 font-semibold hover:text-blue-600') About
                    a(href="" class='text-slate-300 font-semibold hover:text-blue-600') Testimonial
            div(class='')
                h2(class="text-xl font-bold mb-10 p-2") Features
                ul(class="flex flex-col p-2 space-y-4")
                    a(href="" class='text-slate-300 font-semibold hover:text-blue-600') How it works 
                    a(href="" class='text-slate-300 font-semibold hover:text-blue-600') Privacy policy
                    a(href="" class='text-slate-300 font-semibold hover:text-blue-600') Terms of Service
                    a(href="" class='text-slate-300 font-semibold hover:text-blue-600') Refund policy
            div(class='')
                h2(class="text-xl font-bold mb-10 p-2" p-2) Our Products
                ul(class="flex flex-col p-2 space-y-4") 
                    a(href="" class='text-slate-300 font-semibold hover:text-blue-600') Linelcons 
                    a(href="" class='text-slate-300 font-semibold hover:text-blue-600') Ecommerce HTML
                    a(href="" class='text-slate-300 font-semibold hover:text-blue-600') Ayro UI
                    a(href="" class='text-slate-300 font-semibold hover:text-blue-600') PlainAdmin
            div(class='')
                h2(class="text-xl font-bold mb-10 p-2") Partners
                ul(class="flex flex-col space-y-5")
                        a(href="" class=''): img(src="/src/images/tailgrids.svg", alt="brand")  
                        a(href="" class=''): img(src="/src/images/ayroui.svg", alt="brand") 
                        a(href="" class=''): img(src="/src/images/ecommerce-html.svg", alt="brand")
                        a(href="" class=''): img(src="/src/images/graygrids.svg", alt="brand") 
                        a(href="" class=''): img(src="/src/images/lineicons.svg", alt="brand") 
                        a(href="" class=''): img(src="/src/images/uideck.svg", alt="brand") 
         hr(class='w-full h-2')
         div(class='flex justify-between text-white px-20 py-8 xs:flex-col md:flex-row')
            ul(class="flex space-x-5 xs:mb-5 xs:justify-between")
                a(href='' class='text-slate-300 font-semibold hover:text-blue-600') Privacy policy 
                a(href='' class='text-slate-300 font-semibold hover:text-blue-600') Legal notice
                a(href='' class='text-slate-300 font-semibold hover:text-blue-600') Terms of service
            p(class='xs:text-center text-slate-300 font-semibold') Designed and Developed by
                span(class='text-blue-600')   TailGrids and UIdeck
         img(src="/src/images/shape-1.svg", class='absolute -top-5 z-0' alt="")
         img(src="/src/images/shape-3.svg", class='absolute bottom-0 right-0' alt='')

