mixin mini-landing(page) 
    div(class='mini-landing bg-gradient-to-r from-blue-700 to-blue-500 grid place-items-center h-1/4')
                h1(class='text-4xl font-semibold text-white') #{page}
mixin scrollToTop 
    button(class='fixed hidden text-white bg-blue-700 p-4 rounded-md right-10 bottom-10 z-10' id='btn') <i class="fa-solid fa-angle-up"></i>