div(class='p-20' id='team') 
    h2(class='text-blue-500 text-center font-semibold') Our Team
    h1(class='text-4xl text-center font-bold mb-4') Meet Our Team
    p(class='text-lg text-gray-400  text-center font-semibold') There are many variations of passages of Lorem Ipsum available <br> but the majority have suffered alteration in some form.
div(class='grid lg:grid-cols-4 md:grid-cols-2 xs:grid-cols-1 pb-40 aos opacity-0')
    div(class='text-center')
        img(src="images/team-01.png", alt="" class='mx-auto')
        h4(class='font-bold text-lg') Adveen Desuza
        p(class='text-slate-500 font-semibold text-sm my-2') UI Designer
        ul(class='flex justify-center space-x-8 text-slate-400') 
            li <i class="fa-brands fa-facebook-f hover:text-blue-700"></i>
            li <i class="fa-brands fa-twitter hover:text-blue-700"></i>
            li  <i class="fa-brands fa-instagram hover:text-blue-700"></i>
    div(class='text-center')
        img(src="images/team-02.png", alt="" class='mx-auto')
        h4(class='font-bold text-lg') Jezmin uniya
        p(class='text-slate-500 font-semibold text-sm my-2') Product Designer
        ul(class='flex justify-center space-x-8 text-slate-400') 
            li <i class="fa-brands fa-facebook-f hover:text-blue-700"></i>
            li <i class="fa-brands fa-twitter hover:text-blue-700"></i>
            li  <i class="fa-brands fa-instagram hover:text-blue-700"></i>
    div(class='text-center')
        img(src="images/team-03.png", alt="" class='mx-auto')
        h4(class='font-bold text-lg') Andrieo Gloree
        p(class='text-slate-500 font-semibold text-sm my-2') App Developer
        ul(class='flex justify-center space-x-8 text-slate-400') 
            li <i class="fa-brands fa-facebook-f hover:text-blue-700"></i>
            li <i class="fa-brands fa-twitter hover:text-blue-700"></i>
            li  <i class="fa-brands fa-instagram hover:text-blue-700"></i>
    div(class='text-center')
        img(src="images/team-01.png", alt="" class='mx-auto')
        h4(class='font-bold text-lg') Jackie Sanders
        p(class='text-slate-500 font-semibold text-sm my-2') Content Writer
        ul(class='flex justify-center space-x-8 text-slate-400') 
            li <i class="fa-brands fa-facebook-f hover:text-blue-700"></i>
            li <i class="fa-brands fa-twitter hover:text-blue-700"></i>
            li  <i class="fa-brands fa-instagram hover:text-blue-700"></i>